body {
    height: 100%;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    color: green;
}

h1 {
    text-align: center;
}

.wrapperPlayers {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
}

.wrapperOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-style: dashed;
    border-color: green;
    margin: 0 auto;
    width: 20rem;
    height: 30rem;
}

.wrapperTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-style: dashed;
    border-color: green;
    margin: 0 auto;
    width: 20rem;
    height: 30rem;
}

#scoreOne {
    font-size: 1.5rem;
}

#scoreTwo {
    font-size: 1.5rem;
}

#numberRolledOne {
    font-size: 1.5rem;
}

#numberRolledTwo {
    font-size: 1.5rem;
}

.buttonWrapperOne {
display: flex;
flex-direction: row;
}

#rollButtonOne {
    margin-bottom: 1rem;
    color: black;
    background-color: green;
    width: 5rem;
}

#holdButtonOne {
    margin-bottom: 1rem;
    color: black;
    background-color: green;
    width: 5rem;
}

.buttonWrapperTwo {
    display: flex;
    flex-direction: row;
    }

#rollButtonTwo {
    margin-bottom: 1rem;
    color: black;
    background-color: green;
    width: 5rem;
}

#holdButtonTwo {
    margin-bottom: 1rem;
    color: black;
    background-color: green;
    width: 5rem;
}

.wrapperNewGame {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#newGameButton {
    color: black;
    background-color: green;
}